[submodule "Azteck/vendor/spdlog"]
	path = Azteck/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Azteck/vendor/glm"]
	path = Azteck/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Azteck/vendor/GLFW"]
	path = Azteck/vendor/GLFW
	url = ../../ArtemBaleyko/glfw.git
	branch = master
[submodule "Azteck/vendor/imgui"]
	path = Azteck/vendor/imgui
	url = ../../ArtemBaleyko/imgui.git
	branch = docking
[submodule "Azteck/vendor/yaml-cpp"]
	path = Azteck/vendor/yaml-cpp
	url = https://github.com/ArtemBaleyko/yaml-cpp.git
[submodule "Azteck/vendor/ImGuizmo"]
	path = Azteck/vendor/ImGuizmo
	url = https://github.com/ArtemBaleyko/ImGuizmo.git
[submodule "Azteck/vendor/Box2d"]
	path = Azteck/vendor/Box2d
	url = https://github.com/ArtemBaleyko/box2d.git
