# Directories
.vs/
**/bin/
bin-int/
intermediates/

# Log files
*.log

# User specific files
*.user

*.bak

**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

**.csproj

!vendor/premake/bin

Azteck/vendor/VulkanSDK
Azteck-Editor/assets/cache
scripts/__pycache__
